.top-section {
    width: 100%;
    height: 125px;
    background-color: darkgoldenrod;
    opacity: 85%;
    border: solid darkgoldenrod;
    margin: 2px auto;
    padding: 1px auto;
}

.bottom-section {
    width: 100%;
    height: 125px;
    background-color: darkgoldenrod;
    opacity: 85%;
    border: solid darkgoldenrod;
    margin: 2px auto;
    padding: 1px auto;
}

.donation {
    text-align: center;
    font-family: Tahoma;
    font-size: 35px;
}

h1 {
    text-align: center;
    font-size: 70px;
    font-family: Tahoma;
    letter-spacing: 2px;
    padding: 1px 0;
    margin: 1px;
}

h2 {
    text-align: center;
    font-size: 18px;
    font-family: Tahoma;
    padding: 1px 0;
    margin: 1px;
}

.mid-section {
    width: 100%;
    height: 625px;
    column-width: 625px;
    background-color: darkseagreen;
    border: solid darkseagreen;
    opacity: 90%;
}

.biography {
    font-size: 28px;
    font-family: Tahoma;
    text-align: center;
    display: grid;
    margin: auto 50px;
    width: 80%;
}

blockquote {
    font-size: 50px;
    font-family: Haettenschweiler;
    text-align: center;
    width: 80%;
    color: darkred;
    margin: 20px 50px;
}

blockquote::before {
    content: '" ';
}

blockquote::after {
    content: ' "';
}

img {
    height: 600px;
    width: 600px;
    margin: 11px 175px;
}